/*
 * Globals
 */

/* Links */
a,
a:focus,
a:hover {
  color: #fff;
}
.centrado{
  display:block;
  margin-left: auto;
  margin-right: auto;
}

video{
	position: fixed;
	
	min-width: 100%;
	min-height: 100%;
	
	top: 50%;
	left:50%;
	
	transform: translateX(-50%) translateY(-50%);
	
	z-index: -1;
	
}

.container-1{
  width: 600px;
  vertical-align: middle;
  white-space: nowrap;
  position: relative;
}


 .boton_personalizado{
    text-decoration: none;
    padding: 10px;
    font-weight: 600;
    font-size: 15px;
    color: #63717f;
    background-color: #2b303b;
    border-radius: 6px;
    border:2px solid #63717f;
  }
  .boton_personalizado:hover{
    color: #2b303b;
    background-color: #ffffff;
  }

.container-1 input#search{
  width: 600px;
  height: 50px;
  background: #2b303b;
  border: none;
  font-size: 10pt;
  float: left;
  color: #63717f;
  padding-left: 45px;
  -webkit-border-radius: 5px;
  -moz-border-radius: 5px;
  border-radius: 5px;

	-webkit-transition: background .55s ease;
-moz-transition: background .55s ease;
-ms-transition: background .55s ease;
-o-transition: background .55s ease;
transition: background .55s ease;
}

.container-1 input#search::-webkit-input-placeholder {
   color: #65737e;
}
 
.container-1 input#search:-moz-placeholder { /* Firefox 18- */
   color: #65737e;  
}
 
.container-1 input#search::-moz-placeholder {  /* Firefox 19+ */
   color: #65737e;  
}
 
.container-1 input#search:-ms-input-placeholder {  
   color: #65737e;  
}

.container-1 .icon{
  position: absolute;
  top: 50%;
  margin-left: 17px;
  margin-top: 17px;
  z-index: 1;
  color: #4f5b66;
}

.container-1 input#search:hover, .container-1 input#search:focus, .container-1 input#search:active{
    outline:none;
    background: #ffffff;
  }


/*
 * Base structure
 */

html,
body {
  height: 100%;
  background-color: transparent
}

body {
  display: -ms-flexbox;
  display: flex;
  color: #fff;
  text-shadow: 0 .05rem .1rem rgba(0, 0, 0, .5);
  box-shadow: inset 0 0 5rem rgba(0, 0, 0, .5);
}

.cover-container {
  max-width: 100em;
}

/*Ventana Modal*/
body {
	text-align: center;
	font-family: sans-serif;
	margin: 0;
}

.modal {
	width: 100%;
	height: 100vh;
	background: rgba(0,0,0,0.8);
	
	position: absolute;
	z-index: 75;
	top: 0;
	left: 0;
	
	display: flex;
	
	animation: modal 2s 3s forwards;
	visibility: hidden;
	opacity: 0;
}

.contenido {
	margin: auto;
	width: 40%;
	height: 40%;
	background: #65737e;
	border-radius: 10px;
}

#cerrar {
	display: none;
}

#cerrar + label {
	position: absolute;
	color: #fff;
	font-size: 25px;
	z-index: 100;
	background: darkred;
	height: 40px;
	width: 40px;
	line-height: 40px;
	border-radius: 50%;
	right: 150px;
	top: 150px;
	cursor: pointer;
	
	animation: modal 2s 3s forwards;
	visibility: hidden;
	opacity: 0;
}

#cerrar:checked + label, #cerrar:checked ~ .modal {
	display: none;
}

@keyframes modal {
	100% {
		visibility: visible;
		opacity: 1;
	}
}

/*
 * Header
 */
.masthead {
  margin-bottom: 2rem;
}

.masthead-brand {
  margin-bottom: 0;
}

.nav-masthead .nav-link {
  padding: .25rem 0;
  font-weight: 700;
  color: rgba(255, 255, 255, .5);
  background-color: transparent;
  border-bottom: .25rem solid transparent;
}

.nav-masthead .nav-link:hover,
.nav-masthead .nav-link:focus {
  border-bottom-color: rgba(255, 255, 255, .25);
}

.nav-masthead .nav-link + .nav-link {
  margin-left: 1rem;   /*Separa los apartados Home, ¿Quienes somos? */
}

.nav-masthead .active {
  color: #fff;
  border-bottom-color: #fff;
}

@media (min-width: 48em) {
  .masthead-brand {
    float: left;
  }
  .nav-masthead {
    float: right;
  }
}


/*
 * Cover
 */
.cover {
  padding: 0 1.5rem;
  max-width: 80em;					/*Esto personaliza el tamaño de las letras centrales, inclusive buscador */
  margin-left: auto!important;	
  margin-right: auto!important;
}
.cover .btn-lg {
  padding: .75rem 1.25rem;
  font-weight: 700;
}


/*
 * Footer
 */
.mastfoot {
  color: rgba(255, 255, 255, .5);
  max-width: 40em;					
  margin-left: auto!important;	
  margin-right: auto!important;
}